<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ict.apps.bobb.bobbactivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/beetleicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".MainMenuActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".RuleActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".UserInfoRegistrationActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BattleActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BattleUserSelectActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BreedersMenuActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".NewBeetleInfoActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BreedExectionActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BattleDeckManageActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BattleDeckForNormalTab" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BattleDeckForSpecialTab" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BeetleKitListActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BeetleKitDetailActivity" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".BeetleKitSelectionActivity" android:screenOrientation="portrait">
		</activity>
		</application>

</manifest>